@{
  Layout = "_Layout";
}

@model Help.Models.Review
@* @using Help.Models *@
<br>
<h2>Review Details</h2>
<div class="home">
  <div class="card border-secondary mb-3 mt-5" style="max-width: 80rem;">
    <div class="card-header"><h3>@Html.DisplayNameFor(model => model.Headline): @Html.DisplayFor(model => model.Headline)<h3></div>
    <div class="card-body">
        @foreach(var join in Model.JoinEntries)
        {
          <h2><strong>@Html.ActionLink(@join.Restaurant.Name, "Details", "Restaurants", new { id = join.RestaurantId})</strong></h2>
        }
      <h5>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)<h5>
      <hr />
      <h4>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h4>

    </div>
  </div>   
</div>  
      <br>
      <p>@Html.ActionLink("Back to Reviews", "Index")</p>
      <p>@Html.ActionLink("Edit Review", "Edit", new { id = Model.ReviewId })</p>
      <p>@Html.ActionLink("Delete Review", "Delete", new { id = Model.ReviewId })</p>

