@{
  Layout = "_Layout";
}

@model Help.Models.Review
<br>
<h2>Review Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Headline): @Html.DisplayFor(model => model.Headline)<h3>
<h4>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h4>
<h5>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)<h5>

<br>
<p>@Html.ActionLink("Back to Reviews", "Index")</p>
<p>@Html.ActionLink("Edit Review", "Edit", new { id = Model.ReviewId })</p>
<p>@Html.ActionLink("Delete Review", "Delete", new { id = Model.ReviewId })</p>