@{
  Layout = "_Layout";
}

@model Help.Models.Review;

<h2>Edit</h2>

<h4>Edit this Review: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ReviewId)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.Rating)
  @Html.EditorFor(model => model.Rating)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Reviews", "Index")</p>