@{
  Layout = "_Layout";
}

@model Help.Models.Price;

<h2>Edit</h2>

<h4>Edit this Price Point: @Html.DisplayFor(model => model.DollarSigns)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PriceId)

  @Html.LabelFor(model => model.DollarSigns)
  @Html.EditorFor(model => model.DollarSigns)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Price Points", "Index")</p>