@{
  Layout = "_Layout";
}

@model Help.Models.Restaurant
<br>
<h2>Edit</h2>

<h4>Edit this restaurant: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @required  = "required"})

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description, new { @required  = "required"})

  @Html.Label("Select cuisine")
  @Html.DropDownList("CuisineId")

  @Html.Label("Select city")
  @Html.DropDownList("CityId")

  @Html.Label("Select price point")
  @Html.DropDownList("PriceId")

  /* @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")

  @Html.LabelFor(model => model.Price)
  @Html.DropDownList("PriceId")

  @Html.LabelFor(model => model.City)
  @Html.DropDownList("CityId") */

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>