@{
  Layout = "_Layout";
}

@model Help.Models.City;

<h2>Edit</h2>

<h4>Edit this City: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CityId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.State)
  @Html.EditorFor(model => model.State)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Cities", "Index")</p>